<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.auth.web.mapper.SysRolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coin.auth.web.entity.SysRolePermission">
        <result column="ID" property="id" />
        <result column="ROLE_ID" property="roleId" />
        <result column="PERMISSION_CODE" property="permissionCode" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="IS_DELETE" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ROLE_ID, PERMISSION_CODE, CREATE_TIME, UPDATE_TIME, IS_DELETE
    </sql>


    <insert id="insertSelective" parameterType="com.coin.auth.web.entity.SysRolePermission" >
        insert into sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="permissionCode != null">
                PERMISSION_CODE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="isDelete != null">
                IS_DELETE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null">
                    {id},
                </if>
                <if test="roleId != null">
                    {roleId},
                </if>
                <if test="permissionCode != null">
                    {permissionCode},
                </if>
                <if test="createTime != null">
                    {createTime},
                </if>
                <if test="updateTime != null">
                    {updateTime},
                </if>
                <if test="isDelete != null">
                    {isDelete},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.coin.auth.web.entity.SysRolePermission">
        update sys_role_permission
        <set>
                <if test="id != null">
                    ID = #{id},
                </if>
                <if test="roleId != null">
                    ROLE_ID = #{roleId},
                </if>
                <if test="permissionCode != null">
                    PERMISSION_CODE = #{permissionCode},
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime},
                </if>
                <if test="updateTime != null">
                    UPDATE_TIME = #{updateTime},
                </if>
                <if test="isDelete != null">
                    IS_DELETE = #{isDelete},
                </if>
        </set>
        where ID = #{id}
    </update>
</mapper>
