<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="background.css" />
</head>

<body>
    <div class="a fade"></div>
    <div class="a fade1"></div>
    <div class="a fade2"></div>

    <div class="a fade3"></div>

    <div class="module">
        <h2 class="stripe-3">Over Image</h2>
        <p>Quibusdam quos dolorum temporibus minima delectus suscipit consequatur excepturi illo veritatis adipisci dicta accusamus maiores vitae exercitationem saepe! Ut ex aut ab corporis nulla expedita voluptatem velit doloremque qui sapiente.</p>
    </div>

    <div class="a fade4"></div>

</body>

</html>