<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
</head>

<body>

    <div class="panel large">
        <h2>Single-origin</h2>
        <div class="panel-body">
            We hava built partnerships width have a cat;
        </div>
    </div>
    <aside class="dark">
        <div class="panel large">
            <h2>Single-origin</h2>
            <div class="panel-body">
                We hava built partnerships width have a cat;
            </div>
        </div>
    </aside>


</body>

</html>