<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="gridimp.css" />
</head>

<body>
    <div class="portfolia">
        <figure class="featured">
            <img src="https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2698449607,4036781493&fm=26&gp=0.jpg" alt="monkey" />
            <figcaption>Monkey</figcaption>
        </figure>
        <figure>
            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3581021093,4140650614&fm=11&gp=0.jpg" alt="eagle" />
            <figcaption>Eagle</figcaption>
        </figure>
        <figure class="featured">
            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=26251969,3798507308&fm=26&gp=0.jpg" alt="bird" />
            <figcaption>Bird</figcaption>
        </figure>
        <figure>
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=295761968,3648681182&fm=26&gp=0.jpg" alt="bear" />
            <figcaption>Bear</figcaption>
        </figure>
        <figure class="featured">
            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2262084071,2273281700&fm=26&gp=0.jpg" alt="swan" />
            <figcaption>Swan</figcaption>
        </figure>
        <figure>
            <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2296806695,737734023&fm=26&gp=0.jpg" alt="elephants" />
            <figcaption>Elephants</figcaption>
        </figure>
        <figure>
            <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=422599664,1860828119&fm=26&gp=0.jpg" alt="owl" />
            <figcaption>Owl</figcaption>
        </figure>
    </div>

</body>

</html>