<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="transform.css" />
</head>

<body>

    <header class="header">
        <h1 class="page-header">The Yolk Factory</h1>
    </header>
    <nav class="main-nav">
        <ul class="nav-menu">
            <li>
                <a href="/">
                    <img src="" class="nav-menu__icon" />
                    <span class="nav-menu__label">About</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="" class="nav-menu__icon" />
                    <span class="nav-menu__label">Shop</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="" class="nav-menu__icon" />
                    <span class="nav-menu__label">Menu</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="" class="nav-menu__icon" />
                    <span class="nav-menu__label">Brew</span>
                </a>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="card">
            <img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00017-1234.jpg" alt="a chicken" />
            <h4>Mrs.Featherstone</h4>
            <p>She may be a bit frumpy, but Mrs Featherstone gets the job done. She lays her largish cream-colored eggs throughout the yard on a daily basis.</p>
            <p>She is gregarious to a fault.clearfix This Austra White is our most prolific producer.</p>
        </div>
        <div class="card">
            <img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00017-1234.jpg" alt="a chicken" />
            <h4>Mrs.Featherstone</h4>
            <p>She may be a bit frumpy, but Mrs Featherstone gets the job done. She lays her largish cream-colored eggs throughout the yard on a daily basis.</p>
            <p>She is gregarious to a fault.clearfix This Austra White is our most prolific producer.</p>
        </div>
        <div class="card">
            <img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00017-1234.jpg" alt="a chicken" />
            <h4>Mrs.Featherstone</h4>
            <p>She may be a bit frumpy, but Mrs Featherstone gets the job done. She lays her largish cream-colored eggs throughout the yard on a daily basis.</p>
            <p>She is gregarious to a fault.clearfix This Austra White is our most prolific producer.</p>
        </div>
        <div class="card">
            <img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00017-1234.jpg" alt="a chicken" />
            <h4>Mrs.Featherstone</h4>
            <p>She may be a bit frumpy, but Mrs Featherstone gets the job done. She lays her largish cream-colored eggs throughout the yard on a daily basis.</p>
            <p>She is gregarious to a fault.clearfix This Austra White is our most prolific producer.</p>
        </div>
    </main>

</body>

</html>