:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

@media (min-width: 50em) {
     :root {
        font-size: 1.125em;
    }
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(200, 80%, 30%);
    margin: 0;
    color: white;
    min-height: 100vh;
}

.header>h1 {
    color: white;
    font-weight: 400;
    font-family: Alfa Slab One, serif;
}

img {
    max-width: 100%;
}

.page-header {
    margin: 0;
    padding: 1rem;
}

@media (min-width: 30em) {
    .page-header {
        padding: 2rem 2rem 3rem;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    margin: 0;
    list-style: none;
}

.nav-menu>li+li {
    margin-left: 0.8em;
}

.nav-menu>li>a {
    display: block;
    padding: .8em 0em;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.nav-menu__icon {
    height: 1.5em;
    width: 1.5em;
    vertical-align: -0.2em;
}

.nav-menu>li>a:hover {
    color: hsl(40, 100%, 70%);
}

.card {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
    color: hsl(210, 15%, 20%);
    box-shadow: 0.2em 0.5em 1em rgb(0, 0, 0, 0.3);
    /* transform: rotate(15deg) translate(0, 40px); */
}

@media(min-width: 30em) {
    .main-nav {
        position: fixed;
        top: 8.25rem;
        left: 0;
        z-index: 10;
        background-color: transparent;
        transition: background-color .5s linear;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
    }
    .main-nav:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .nav-menu {
        display: block;
        padding: 1em;
        margin-bottom: 0;
    }
    .nav-menu>li+li {
        margin-left: 0;
    }
    .nav-menu__label {
        margin-left: 1em;
        display: inline-block;
        padding-right: 1em;
        opacity: 0;
        transition: translate(-1em);
        transition: transform 0.4s cubic-bezier(0.2, 0.9 0.3 1.3), opacity 0.4s linear;
    }
    .nav-menu:hover .nav-menu__label,
    .nav-menu a:focus>.nav-menu__label {
        opacity: 1;
        transform: translate(0);
    }
    .nav-menu>li:nth-child(2) .nav-menu__label {
        transition-delay: 0.1s;
    }
    .nav-menu>li:nth-child(3) .nav-menu__label {
        transition-delay: 0.2s;
    }
    .nav-menu>li:nth-child(4) .nav-menu__label {
        transition-delay: 0.3s;
    }
    .nav-menu>li:nth-child(5) .nav-menu__label {
        transition-delay: 0.4s;
    }
    .nav-menu__icon {
        transition: transform 0.2s ease-out;
    }
    .nav-menu a:hover>.nav-menu__icon,
    .nav-menu a:focus>.nav-menu__icon {
        transform: scale(1.3);
    }
}

@media (min-width: 30em) {
    main {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5rem;
    }
    .card {
        flex: 1 1 300px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        max-width: 600px;
    }
    @supports (display: grid) {
        main {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 2em;
        }
        .card {
            max-width: initial;
            margin: 0;
        }
    }
}

main {
    margin: 0 1rem;
    perspective: 500px;
}

.card {
    animation: fly-in 600ms ease-in;
    animation-fill-mode: backwards;
}

@keyframes fly-in {
    0% {
        transform: translateZ(-800px) rotateY(-90deg);
        opacity: 0.2;
    }
    36% {
        transform: translateZ(-760px) rotateY(-60deg);
        opacity: 0.5;
    }
    66% {
        transform: translateZ(-360px) rotateY(-30deg);
        opacity: 7;
    }
    100% {
        transform: translateZ(0) rotateY(0);
        opacity: 1;
    }
}

.card:nth-child(2) {
    animation-delay: 0.15s;
}

.card:nth-child(3) {
    animation-delay: 0.3s;
}

.card:nth-child(4) {
    animation-delay: 0.45s;
}


/*
https://css-tricks.com/using-svg/
*/